@import url("https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans:wght@300&family=Montserrat:wght@300;400;800&family=Open+Sans:wght@300&family=Poppins&family=Source+Sans+3:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  width: 100%;
  height: 100%;
  font-family: "Source Sans 3", sans-serif;
}

.app {
  display: flex;
  position: relative;
  max-width: 100%;
}

.content {
  max-width: 100%;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}
